<div class="card rounded-0 shadow m-2 p-0 col-xs-6 col-md-4">
    <div class="card-body">
      <p class="position-absolute" style="right: 5px; top: 3px">ID: 1</p>
       <img src="https://www.shareicon.net/data/256x256/2015/11/17/673462_woman_512x512.png" class="card-img-top img-thumbnail rounded-circle mb-3" alt="icon">
       <h3 class="card-title text-center text-danger">Samantha Fry</h3>
      <h5 class="card-title text-muted text-center text-secondary">Intern</h5>
       </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <span class="text-secondary">
          <i class="fas fa-envelope"></i>Email: </span><a class="text-primary text-decoration-none" href="mailto:samantha.fry@fakemail.com">samantha.fry@fakemail.com</a></li>
      <li class="list-group-item">
          <span class="text-secondary">
          <i class="fas fa-university"></i>School: </span><span>University of Waterloo</span></li>
    </ul>
    <div class="card-footer bg-danger rounded-0"></div>
</div>