<!DOCTYPE html>
<html>
    <head>
        <style>
            #team > div{
                width: auto;
            }
        </style>
        <!-- <link rel="import" href="manager.html">
        <link rel="import" href="engineer.html">
        <link rel="import" href="intern.html"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>My Team</title>
    </head>
    <body>
        <div class="bg-secondary text-light text-center p-4">
        <h1>My Team</h1>
        </div>
        <main class="d-flex justify-content-center p-4 container">
            <div id="team" class="row justify-content-center">

                <!-- <div class="col-sm-6 col-md-4 p-1">
                <div class="card rounded-0 shadow offset-md-0 p-0 m-0 h-100">
                    <div class="card-body">
                        <p class="position-absolute" style="right: 5px; top: 3px">ID: 1</p>
                        <img src="https://www.shareicon.net/data/256x256/2016/01/17/704723_people_512x512.png" class="card-img-top img-thumbnail rounded-circle mb-3" alt="icon">
                        <h3 class="card-title text-center text-primary">Nat Grie</h3>
                        <h5 class="card-title text-muted text-center text-secondary">Manager</h5>
                        </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="text-secondary">
                            <i class="fas fa-envelope"></i> Email: </span><a class="text-primary text-decoration-none" href="mailto:the.boss@fakemail.com">samantha.fry@fakemail.com</a></li>
                        <li class="list-group-item">
                        <span class="text-secondary"><i class="fas fa-briefcase"></i>Office: </span><span>1</span></li>
                    </ul>
                    <div class="card-footer bg-primary rounded-0"></div>
                </div>
                </div> -->

                <!-- <div class="col-sm-6 col-md-4 p-1">
                <div class="card rounded-0 shadow offset-md-0 p-0 m-0 h-100">
                    <div class="card-body">
                      <p class="position-absolute" style="right: 5px; top: 3px">ID: 1</p>
                       <img src="https://www.shareicon.net/data/256x256/2016/01/24/708382_people_512x512.png" class="card-img-top img-thumbnail rounded-circle mb-3" alt="icon">
                       <h3 class="card-title text-center text-success">Natalia Grey</h3>
                      <h5 class="card-title text-muted text-center text-secondary">Engineer</h5>
                       </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <span class="text-secondary">
                          <i class="fas fa-envelope"></i> Email: </span><a class="text-primary text-decoration-none" href="mailto:natalia.grey@fakemail.com">natalia.grey@fakemail.com</a></li>
                      <li class="list-group-item">
                          <span class="text-secondary">
                          <i class="fab fa-github"></i> GitHub: </span><span>natgrey</span></li>
                    </ul>
                    <div class="card-footer bg-success rounded-0"></div>
                  </div>
                </div>
                  
                <div class="col-sm-6 col-md-4 p-1">
                <div class="card rounded-0 shadow offset-md-0 p-0 m-0 h-100">
                    <div class="card-body">
                      <p class="position-absolute" style="right: 5px; top: 3px">ID: 1</p>
                       <img src="https://www.shareicon.net/data/256x256/2015/11/17/673462_woman_512x512.png" class="card-img-top img-thumbnail rounded-circle mb-3" alt="icon">
                       <h3 class="card-title text-center text-danger">Samantha Fry</h3>
                      <h5 class="card-title text-muted text-center text-secondary">Intern</h5>
                       </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <span class="text-secondary">
                          <i class="fas fa-envelope"></i> Email: </span><a class="text-primary text-decoration-none" href="mailto:samantha.fry@fakemail.com">samantha.fry@fakemail.com</a></li>
                      <li class="list-group-item">
                          <span class="text-secondary">
                          <i class="fas fa-university"></i> School: </span><span>University of Waterloo</span></li>
                    </ul>
                    <div class="card-footer bg-danger rounded-0"></div>
                </div>
                </div>

                <div class="col-sm-6 col-md-4 p-1">
                <div class="card rounded-0 shadow offset-md-0 p-0 m-0 h-100">
                    <div class="card-body">
                      <p class="position-absolute" style="right: 5px; top: 3px">ID: 1</p>
                       <img src="https://www.shareicon.net/data/256x256/2015/11/17/673462_woman_512x512.png" class="card-img-top img-thumbnail rounded-circle mb-3" alt="icon">
                       <h3 class="card-title text-center text-danger">Samantha Fry</h3>
                      <h5 class="card-title text-muted text-center text-secondary">Intern</h5>
                       </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <span class="text-secondary">
                          <i class="fas fa-envelope"></i> Email: </span><a class="text-primary text-decoration-none" href="mailto:samantha.fry@fakemail.com">samantha.fry@fakemail.com</a></li>
                      <li class="list-group-item">
                          <span class="text-secondary">
                          <i class="fas fa-university"></i> School: </span><span>University of Waterloo</span></li>
                    </ul>
                    <div class="card-footer bg-danger rounded-0"></div>
                </div>
                </div>

                
                <span id="manager"></span>  -->
                
       
          
        


            </div>
        </main>
        <!-- <input type="file" name="inputfile"
        id="inputfile">  -->
    </body>

    <!-- <script type="text/javascript"> 
        document.getElementById('inputfile') 
            .addEventListener('change', function() { 
              
            var fr=new FileReader(); 
            fr.onload=function(){ 
                document.getElementById('manager').outerHTML+=fr.result; 
            } 
              
            fr.readAsText(this.files[0]); 
        }) 
    </script>  -->
    <script src="../script.js"></script>
</html>